input,
select,
textarea {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  margin-left: 500px;
}

button {
  background-color: #6366f1;
  color: white;
  margin-left: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #4f46e5;
}

.task {
  margin-left: 500px;
  display: flex;
  align-items: center;
  width: 345px;
  background-color: black;
  color: white;
  height: 40px;
  padding: 4px 6px;
  margin-top: 8px;
  border-radius: 6px;
}

.task .left,
.task .right {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task .content {
  flex: 1;
  margin: 0 8px;
}

.left-icon,
.right-icon {
  font-size: 16px;
}

.edit-row input {
  width: 180px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.edit-row button {
  margin-left: 6px;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}
